/*
!.gitignore
!readme.md

!klantenpaneel
klantenpaneel/*
!klantenpaneel/custom
klantenpaneel/custom/*
!klantenpaneel/custom/plugins
klantenpaneel/custom/plugins/*
!klantenpaneel/custom/plugins/inserve
klantenpaneel/custom/plugins/inserve/config.php
